.vs/
**/.vs/
**/Debug/
**/Release/
**/x64/
!third_party/lib/x64/
!third_party/lib/x64/*.lib
!third_party/bin/x64/
!third_party/bin/x64/*.dll
**/Win32/
*.user
*.suo
*.VC.db
*.VC.opendb
*.pdb
*.ilk
*.obj
*.tlog
*.log
*.recipe
